* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1180px;
  margin: 0px auto;
}

header {
  border-bottom: 1px solid gray;
}

.container-logo {
  font-size: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  width: 100px;
}

footer {
  height: 80px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

main {
  height: 600px;
  background-color: rgb(255, 255, 255);
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plusMinus {
  display: flex;
  align-items: center;
  padding: 40px;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: blue;
  border-radius: 10px;
  margin: 10px;
  color: white;
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
}

.H {
  height: 100px;
  font-size: 70px;
}
.container-display {
}

.container-counter {
  display: flex;
  justify-content: center;
}
